<%- include('./partials/header.ejs')%>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <% if (formulas && formulas.length > 0) { %>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">F처rmula</th>
                    </tr>
                </thead>
                <tbody>
                    <% formulas.forEach(f => { %>
                    <tr style="cursor: pointer" id="<%= f.getId() %>">
                        <th scope="row"><%= f.getId() %></th>
                        <td><%= f.getNome() %></td>
                        <td><%= f.getAutor() %></td>
                        <td><%= f.getCategoria() %></td>
                        <td><%- f.getFormula() %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <% } else { %>
            <div class="d-flex justify-content-center align-items-center">
                <div class="card border-dark">
                    <div class="card-header">Aviso</div>
                    <div class="card-body text-dark">
                        <h5 class="card-title">Lista de f처rmulas</h5>
                        <p class="card-text">
                            N찾o conseguimos encontrar nenhuma f처rmula cadastrada
                        </p>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<script src="js/list.js"></script>
<%- include('./partials/footer.ejs')%>
